

body {
  font-family: 'Montserrat', sans-serif;
  color: #061c23;
  margin: 0;
}


/*===========================  HEADER  =============================*/
header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  z-index: 3;
}

header img {
  width: 300px;
}

.home {
  position: fixed;
  z-index: 6;
  opacity: .3;
  width: 60px;
  right: 50px;
  top: 61px;
}

.back {
  position: fixed;
  display: inline-block;
  font-size: 38px;
  color: #bcc3c5;
  z-index: 6;
  font-weight: bold;
  left: 50px;
  top: 23px;
}

#share_alert p, #donation_alert p {
  padding-top: 0;
}
/*===========================  HOMEPAGE  =============================*/
.cover {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 10;
  transition: width 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29abca;
}

.cover img {
  display: none;
}

.cover.open img {
  display: block;
  -webkit-animation: load 1s linear infinite;
}

@-webkit-keyframes load {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);  }
}

.cover.open {
  width: 100%;
}

.main {
  background-color: #f4f4f4;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 0;
  padding-top: 170px;
}

.home_page.main, .home_wheel .main {
  height: 1750px;
  min-height: auto;
  overflow: hidden;
}

.page_title {
  width: 100%;
  text-align: center;
  padding: 80px;
}

.page_title .lrg {
  opacity: .4;
  font-weight: bold;
  font-size: 46px;
  margin: 0;
  line-height: 1.2;
}

.page_title .sml {
  opacity: .4;
  font-size: 33px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 11px;
}

.home_page .page_title .sml {
  margin-bottom: 11px;
  color: #34bcd6;
}

.card {
  width: 100%;
  min-height: 230px;
  background-color: white;
  box-shadow: 0px 0px 15px #e0dfdf;
  margin-bottom: 27px;
  position: relative;
  overflow: hidden;
  transition: transform .2s;
}

.photocard {
  background-size: 120%;
  -webkit-animation: confetti 20s infinite;
}

@-webkit-keyframes confetti {
  0%, 100% {  background-position: 0; background-size: 120%; }
  50% { background-position: 0 200px; background-size: 100%; }
}

.projs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.projs .card {
  width: 48.5%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home_page .card {
  margin-bottom: 35px;
}

.super .color_slide, .project_card .color_slide {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #ffc722;
  -webkit-animation: superBack 6s infinite;
}

.project_card .color_slide {
  background-color: #2eb4d1;
}

@-webkit-keyframes superBack {
  0%, 10%, 100% { width: 0%;  }
  20%, 90% { width: 100%;  }
}

.home_page .super p {
  color: white ;
  position: relative;
  z-index: 2;
  -webkit-animation: projectTxt 6s infinite;
}

.home_page .project_card p, .bose_page .project_card p {
  color: white;
  position: relative;
  z-index: 2;
  -webkit-animation: superTxt 6s infinite;
}

@-webkit-keyframes superTxt {
  0%, 10%, 100% { color: #2eb4d1;  }
  20%, 90% { color: white;  }
}

@-webkit-keyframes projectTxt {
  0%, 10%, 100% { color: #ffc722;  }
  20%, 90% { color: white;  }
}

.home_page .projs .card {
  height: 450px;
  flex-direction: column;
}

.card.wof img {
  margin-bottom: -450px;
  -webkit-animation: slowSpin infinite 15s;
}

.card.selfie img {
  -webkit-animation: confetti_two 5s infinite;
}

@-webkit-keyframes confetti_two {
  0%{  transform: scale(1); opacity: 0; margin-bottom: -450px;}
  30% { opacity: 1;  }
  100% { margin-bottom: -250px; transform: scale(1.3);}
  /*80% { opacity: 1; }*/
  70% { opacity: 1;  }
  95%, 100% { opacity: 0; }
}

.home_page .projs .card .lrg, .card .lrg {
  color: #34bcd6;
  font-weight: bold;
  font-size: 46px;
  position: absolute;
  top: 35px;
}

.card .lrg {
  position: relative;
  top: 0;
}

.projs .card > div, .medical_page .full > div{
  background-size: cover;
  background-position: center center;
  opacity: .2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.home_page .projs .card img {
  width: 100%;
}

.projects_page .projs .card img {
  max-height: 140px;
  max-width: 247px;
  position: relative;
  z-index: 2;
  filter: brightness(0) invert(1);
}

.full {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}

.full .lrg {
  font-size: 75px;
  font-weight: bold;
  color: #2eb4d1;
  margin: 0;
}

.full .sml {
  font-size: 37px;
  font-weight: 400;
  color: #2eb4d1;
  margin: 0;
}

.intro img {
  width: 233px;
}

.intro p.lrg {
  font-weight: bold;
  font-size: 65px;
  color: #29abca;
  margin-top: 10px;
  margin-bottom: 30px;
}

.intro .sml {
    font-size: 30px;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 0;
}

  .bose_img {
    width: 61% !important;
    margin-top: 68px;
  }


/*===========================  PROJECT PAGE  =============================*/
.projects_page {
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  justify-content: flex-start;
}

.project_page {
  height: 1750px;
  min-height: auto;
  overflow: hidden;
  position: absolute;
}

.projects_page .intro p.lrg {
  margin: 0;
}

.projects_page .card {
  min-height: auto;
}

.kiosk_holder img {
  width: 100%;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.kiosk_holder {
  position: relative;
  text-align: center;
}

.kiosk_holder iframe {
  position: absolute;
  left: -51px;
  top: -320px;
  width: 1080px;
  height: 1920px;
  transform: scale(.565);
  z-index: 1;
  background-color: white;
}

.kiosk_holder .table_kiosk {
  width: 100%;
  transform: scale(1.2);
}

.kiosk_holder.table .proj_img {
    width: 886px;
    left: 56px;
    top: 40px;
}

.kiosk_holder .table_kiosk, .kiosk_holder.table .stand{
  display: none;
}

.kiosk_holder.table .table_kiosk, .kiosk_holder .stand{
  display: block;
}

.kiosk_holder.table iframe {
  width: 1920px;
  height: 1080px;
  left: -465px;
  top: -250px;
  transform: scale(.47);
}

.kiosk_show {
  display: none;
}

.kiosk_holder .proj_img {
  position: absolute;
  width: 616px;
  top: 95px;
  left: 191px;
  z-index: 1;
}



/*===========================  HOMEPAGE  =============================*/
.medical_page {
  height: 1750px;
  min-height: auto;
  overflow: hidden;
}

.medical_page .card {
  min-height: 222px;
}

.medical_page .full p {
  color: white !important;
}



/*===========================  WHEEL OF FORTUNE  =============================*/
.home_wheel {
  height: 1920px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.home_wheel .main {
  background-color: #113538;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_wheel .intro {
  font-size: 119px;
  color: white;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
  padding: 0;
  margin-top: 280px;
  -webkit-animation: enlarge infinite 5s;
}

@-webkit-keyframes enlarge{
  0%, 20% { transform: scale(1); opacity: 1;}
  10% { transform: scale(.1); opacity: 0;}
}

.pre_spin {
  margin-top: -850px;
}

.home_wheel .intro p {
  margin: 2px;
}

.home_wheel .intro p span {
  color: #3faeb3;
}

.home_wheel .intro p:first-child {
  font-size: 65px;
}

.email_wheel {
  padding: 30px;
  font-size: 37px;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 3px solid white;
  margin-top: 75px;
  padding-bottom: 17px;
  outline: none;
  display: block;
  width: 400px;
}

.email_wheel::placeholder {
  color: rgba(255, 255, 255, 0.58);
}

.home_wheel .button {
  color: white;
  background: #3faeb3;
  padding: 30px 74px;
  font-size: 35px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 21px;
  width: 460px;
  outline: none;
}

.error {
  font-size: 33px;
  color: #FF5722;
  font-weight: bold;
  display: none;
  position: absolute;
}

.wheel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%;
  transition: margin 1s, width 1s;
}

.home_wheel .main.resting .wheel {
  margin-top: 920px;
  width: 140%;
}

.home_wheel .main.resting .wheel .spin {
  transition: transform 1s;
  -webkit-animation: slowSpin infinite 10s;
}

@-webkit-keyframes slowSpin{
  0%, 100% { transform: rotate(-120deg); }
  50% { transform: rotate(120deg); }
}

.home_wheel .main .wheel .spin.ready {
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition: transform 7s;
  -webkit-animation: none;
}

.wheel .back {
  width: 100%;
}

.wheel .pointer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}

.wheel img {
    width: 90%;
}

.wheel .ticker {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.home_wheel {
  overflow: hidden;
}

.prize {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.prize > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.prize p {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.prize img {
  margin-bottom: 71px;
}

.prize span {
  display: block;
  font-size: 100px;
  margin-top: -17px;
}




/*===========================  GIVEAWAY  =============================*/
.bose {
  position: absolute;
  right: -200px;
  bottom: 0;
  width: 1000px;
}

.bose_page {
  padding-top: 230px;
}

.bose_page .card:nth-child(1) {
  padding-bottom: 600px;
}

.bose_page p {
  font-size: 36px;
  padding: 50px 100px;
}

.bose_page p span {
  display: block;
  font-size: 71px;
  color: blue;
  font-weight: bold;
  text-transform: uppercase;
  color: #2eb4d1;
  margin-top: 14px;
}

#submit_form span {
  padding: 0 100px;
}

#submit_form input.input {
  margin-top: 114px !important;
  width: 80% !important;
}

.blue_btn {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_btn p {
  color: white;
  font-size: 60px !important;
}

.bose_page .error {
  padding-top: 0;
  font-size: 35px;
}

/*===========================  SCREEN SIZES  =============================*/
@media only screen and ( min-width: 1400px) {
  .page_title {
    display: none;
  }

  .main {
    padding-top: 207px;
    align-items: flex-start;
  }

  .full {
    width: 48.5%;
  }

  .full .lrg {
    font-size: 63px;
  }

  .card {
    min-height: 175px;
  }

  .home_page .projs .card {
    height: 500px;
  }

  .card.selfie {
    position: relative;
    top: -329px;
  }

  .card.selfie .lrg, .card.wof .lrg {
    font-size: 55px !important;
  }

  .project_card {
    position: absolute;
    right: 38px;
    top: 745px;
    width: 892.391px;
  }

  .home_page .projs .card img {
    width:69%;
  }

  .card.wof img {
    margin-bottom: -611px;
  }

  .medical_page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 873px;
  }

  .medical_page .card {
    min-height: 279px;
    width: 49%;
  }

  .home_wheel .intro {
    font-size: 159px;
  }

  .pre_spin {
    margin-right: auto;
    margin-top: -303px;
    padding-left: 200px;
  }

  .home_wheel .main.resting .wheel {
    right: -29%;
    top: 22%;
    width: 70%;
    margin-top: 0;
  }

  div.jQKeyboardContainer {
    max-width: 910px;
    top: 260px !important;
  }

  .home_wheel .main .wheel .spin.ready {
    width: 41%;
    margin-top: -7px;
  }

  .wheel .ticker {
    width: 115px;
    top: initial;
  }

  .prize img {
    max-height: 300px;
  }

  .projects_page .projs .card {
    width: 32.5%;
  }

  .project_page {
    height: 875px;
    width: 1840px;
    align-items: center;
  }

  .kiosk_holder .stand {
    width: 62%;
    margin: auto;
  }

  .kiosk_holder iframe {
    left: -2px;
    top: -530px;
    transform: scale(.38);
  }

  .kiosk_holder .table_kiosk {
    width: 71%;
    transform: scale(1);
    margin: auto;
  }

  .kiosk_holder.table iframe {
    width: 1920px;
    height: 1080px;
    left: -45px;
    top: -146px;
    transform: scale(.51);
  }

  .step_one #cam {
    max-width: 1000px;
    height: 750px;
    position: absolute;
    left: 40px;
  }

  #take_pic {
    width: 798px;
    top: 660px;
  }

  .kiosk_holder .proj_img {
    position: absolute;
    width: 414px;
    top: 62px;
    left: 333px;
    z-index: 1;
  }

  .photobooth_page .page_title {
    display: block;
    width: 700px;
    position: absolute;
    right: 0;
    top: 293px;
  }

  .canvas_holder img {
    position: absolute;
    left: 0;
    top: -56px;
  }

  #pictures .projs {
    position: absolute;
    right: 40px;
    top: 452px;
    flex-direction: column;
    width: 798px;
  }

  .share, .retake {
    width: 100% !important;
  }

  .step_three .card {
    width: 1000px !important;
    max-height: 603px;
    overflow: hidden;
    overflow-y: auto;
  }

  #share_btn {
    position: absolute;
    right: 40px;
    top: 718px;
    width: 554px !important;
  }

  .home_page.main, .home_wheel .main, .photobooth_page {
    height: 874px !important;
  }

  #video {
    height: 750px;
  }

  #submit_form input.input {
    margin-top: 0 !important;
    font-size: 36px !important;
  }

  .bose_page #submit_form {
    width: 54% !important;
  }

  .bose_page .card:nth-child(1) {
    padding-bottom: 450px;
    width: 1000px;
    top: 0;
    position: relative;
  }

  .bose {
    bottom: -150px;
  }

  .bose_page .card {
    transition: top .5s;
  }

  .bose_page {
    height: 875px;
    overflow: hidden;
    min-height: 875px;

  }

  .bose_page .project_card {
    width: 808px;
    top: 681px;
  }

  .bose_page .card.type {
    top: 175px;
  }

  .bose_page #submit_form {
    width: 98% !important;
  }

  #share_alert {
    height: 1080px !important;
    left: 0;
  }

  .home_wheel {
    height: 1080px !important;
  }

  .kiosk_holder.table .proj_img {
    width: 978px;
    left: 428px;
    top: 120px;
  }

  .bose_img {
    width: 43% !important;
    margin-top: 206px;
  }

}

